<div class="ut-brandbar">
  <div class="ut-brandbar--wrapper">
    <a href="http://www.utexas.edu" target="_blank" class="ut-logo--shieldtexas"><img class="ut-img--fluid" src="{{ site.theme.link }}/dist/images/logos/utexas-brandbar-shield.svg" alt="Texas shield logo" /></a>
  </div>
</div>
