{% extends "base.twig" %}

{% block content %}

  <div class="container">
    {% if title %}<h1>{{title}}</h1>{% endif %}

    {% for post in posts %}
      {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}
  </div>

  {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
