<section class="search" id="search-form">
	<form method="get" role="search" action="{{ site.url }}">
		<input type="text" placeholder="Enter Keywords..." name="s">
		<input type="submit" value="Search" class="submit">
	</form>
</section>