<div class="container">
	<div class="row align-items-center my-3">
		{% if not is_front_page and enable_breadcrumbs == 1 %}
			<div class="col">
				<nav class="ut-breadcrumb m-0" role="navigation" aria-label="breadcrumbs">
					<ul class="m-0">
						<li class="m-0"><a href="{{ site.url }}">Home</a></li>
						{% if post.parent %}
							<li class="m-0"><a href="{{ post.parent.link }}">{{ post.parent.title }}</a></li>
						{% endif %}
						<li class="m-0" aria-current="page">{{post.title}}</li>
					</ul>
				</nav>
			</div>
		{% endif %}
		{% for option in page_options %}
			{% if 'show_update_date' == option %}
				<div class="col text-right">
					{% include 'partial/updated-date.twig' %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
