{% extends "base.twig" %}

{% block content %}
  <div class="container">
    <div class="row mt-5">
      <h1>Oops! Looks like we didn't find what you were looking for.</h1>
      <p class="ut-h2">Try searching either our site or our FAQs instead!</p>

      <h2 class="col-12">Site Search</h2>
      <div class="col-12 col-md-10 offset-md-1 py-4 mb-3">
        <div class="gcse-search"></div>
        <script async src="https://cse.google.com/cse.js?cx=006470498568929423894:etsxpcor8wm"></script>
      </div>
    </div>
  </div>
{% endblock %}
